.slider-wrapper {
}

.slider {
    background-color: pink;
    color: black;
    clear: both;
    border-radius: 20px;

}

.slider__slide {
    color: white;
    border-radius: 20px;
    border-bottom: solid 3px var(--overlay-background-color);
    display: none;
    padding: 1rem 2rem 0 2rem;;
    min-height: 400px;
    background-image: url('../../styles/images/wave-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    gap: 2rem;
}

.slider__slide--0 {
    display: flex;
}

.slider__slide-title {
    padding: 0 4rem;
}

.slider__slide-description {
    padding: 0 4rem 2rem 4rem;
}

.slider__slide-image-wrapper {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    max-height: 400px;
    overflow: hidden;
}

.slider__slide-image {
    min-width: 400px;
    max-width: 600px;
    overflow: hidden;
}

.slider__slide-image img {
    margin-bottom: -50px;
    width: 100%;
}