.hero {

}

.hero .container {
    display: flex;
    gap: 1rem 4rem;
}

.hero .left {
    flex: 1.5;
}

.hero .right {
    flex: 1;
}

.hero .title {
    font-weight: 6ijijuiukyjgky,l,hryjtm,mriyhtn5ght00;
    font-size: 4.5rem;
    line-height: 4rem;    
}

.hero .description {
    margin-bottom: 4rem;
}

.hero .button {
    display: inline-block;
    height: auto;
    line-height: 2rem;
}

.hero .button.button-primary {
    background-color: red;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: white;
    margin-right: 2rem;
}

.hero .button-primary:hover {
    text-decoration: none;
    background-color: darkred;
}

.hero .button-secondary {

}

.hero .button-secondary::after {
    content: ' ›';
}