/* block specific CSS goes here */

.hero-container {
    background-color: var(--overlay-background-color);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: fill;
    background-image: url('/blocks/hero/blur.png');

    border-bottom: solid 1px var(--overlay-background-color);
    
    margin-bottom: 5rem;
    padding-bottom: 1rem !important;
    overflow-x: clip;
    overflow-y: visible;
}

.hero__wrapper {
    color: var(--overlay-text-color);
    display: flex;
    gap: 4rem;
}

.hero__title {
    font-size: 56px;
    line-height: .9;
    /*color: var(--primary-color);*/
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    text-shadow: 0 3px black;
}

.hero__column--left {
    flex: 1;
}

.hero__column--right {
    position: relative;
    width: 400px;
}

.hero__description {
    text-shadow: 0 2px black;
}

.hero__button-container { 
    display: inline-block;
}

.hero__button.hero__button--primary {
    border: solid 2px white;
}

.hero.home .hero__button--secondary {
    background-color: transparent;
    color: var(--overlay-text-color);
    text-decoration: none;
}

.hero.home .hero__button--secondary:hover {
    text-decoration: underline;
}

.hero.home .hero__button--secondary::after {
    content: ' 🍾';
}
 
.hero__image {
    position: absolute;
    z-index: 100;
    right: -400px;
    box-shadow: 0 15px 11px rgb(20 23 31 / 5%), 0 9px 46px rgb(20 23 31 / 6%), 0 24px 38px rgb(20 23 31 / 19%);
}

.hero__image img {
    width: 100%;
}


/*
[0] <div class="hero home block" data-block-name="hero" data-block-status="loaded"> 
[1]    <div>
[2]        <div>
[3]            <h4 class="hero__title">dfasdfd<h4>
[4]            <p class="hero__description">ACS AEM Commons 6.0 is AEM as a Cloud Service compatible! New TouchUI and everything!</p>
[5]            <p class="hero__button--primary" class="button-container"><strong><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases" title="Download" class="button primary">Download</a></strong></p>
[6]            <p class="hero__button--secondary" class="button-container"><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases" title="Release notes" class="button primary">Release notes</a></p>
        </div>
        <div>
[7]            <picture>
                <source type="image/webp" srcset="./media_17e9dd0aae03d62b8ebe2159b154d6824ef55732d.png?width=2000&amp;format=webply&amp;optimize=medium" media="(min-width: 400px)">
                <source type="image/webp" srcset="./media_17e9dd0aae03d62b8ebe2159b154d6824ef55732d.png?width=750&amp;format=webply&amp;optimize=medium">
                <source type="image/png" srcset="./media_17e9dd0aae03d62b8ebe2159b154d6824ef55732d.png?width=2000&amp;format=png&amp;optimize=medium" media="(min-width: 400px)">
                <img loading="lazy" alt="" type="image/png" src="./media_17e9dd0aae03d62b8ebe2159b154d6824ef55732d.png?width=750&amp;format=png&amp;optimize=medium" width="1600" height="1066">
            </picture>
        </div>
    </div>
</div>
*/

